
// component

.spilcomponent-sidebar {
    color: #fffFFF
}

// theme

.spiltheme-bg-g1{
    background-color: #4EABA4;
}

.spiltheme-bg-g2{
    background-color: #86CDB2;
}

.spiltheme-bg-g3{
    background-color: #2B676D;
}

.spiltheme-bg-g4{
    background-color: #A3DAD5;
}

.spiltheme-bg-g5{
    background-color: #D5E7B4;
}

.spiltheme-bg-g6{
    background-color: #1E4449;
}
